<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-dropdown by wangmingdong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Angular-dropdown</h1>
      <h2 class="project-tagline">基于angular样式的dropdown插件</h2>
      <a href="https://github.com/wangmingdong/angular-dropdown" class="btn">View on GitHub</a>
      <a href="https://github.com/wangmingdong/angular-dropdown/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/wangmingdong/angular-dropdown/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h3>
<a id="引入js文件" class="anchor" href="#%E5%BC%95%E5%85%A5js%E6%96%87%E4%BB%B6" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>引入JS文件</h3>

<p><code>&lt;script src="js/angular.min.js"&gt;&lt;/script&gt;</code></p>

<hr>

<p><code>&lt;script src="js/bsDropdown.js"&gt;&lt;/script&gt;</code></p>

<h3>
<a id="基本用法" class="anchor" href="#%E5%9F%BA%E6%9C%AC%E7%94%A8%E6%B3%95" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>基本用法</h3>

<p>`</p><blockquote>

<p>html中：</p>

<p></p>
</blockquote><code>&lt; div bs-dropdown 
     bs-dropdown-display="MyDropDown" 
     bs-dropdown-items="<kbd>menusBase</kbd>" 
     ng-model="<kbd>selectMenuBase</kbd>" 
     ng-change="changeMenu()"&gt;&lt; /div&gt;
</code>

<blockquote>
    <p>controller中：</p>
</blockquote>

<p><code>$scope.<kbd>menusBase</kbd> = [</code>
<code> {'label':'菜单1'},</code>
<code> {'label':'菜单2'},</code>
<code> {'label':'菜单3'},</code>
<code> {'label':'菜单4'}</code>
<code>];</code>
<code>$scope.<kbd>selectMenuBase</kbd> = $scope.menusBase[2];</code><br>`</p>

<h3>
<a id="只有末节点可选" class="anchor" href="#%E5%8F%AA%E6%9C%89%E6%9C%AB%E8%8A%82%E7%82%B9%E5%8F%AF%E9%80%89" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>只有末节点可选</h3>

<p>`</p><blockquote>
  <p>html中：</p>
</blockquote>
<code>&lt; div bs-dropdown 
     bs-dropdown-items="menusBase" 
     bs-dropdown-optional='<kbd>last</kbd>'
     bs-dropdown-title="<kbd>请选择</kbd>"
     bs-dropdown-items="<kbd>menusBase</kbd>" 
     ng-model="<kbd>selectMenuBase</kbd>" 
     ng-change="changeMenu()"&gt;&lt; /div&gt;
</code>

<blockquote>
  <p>controller中：</p>
</blockquote>

<p><code>$scope.<kbd>menusBase</kbd> = [</code>
<code> {'label':'菜单1'},</code>
<code> {'label':'菜单2'},</code>
<code> {'label':'菜单3'},</code>
<code> {'label':'菜单4'}</code>
<code>];</code>
<code>$scope.<kbd>selectMenuBase</kbd> = $scope.menusBase[2];</code><br>`</p>

<h3>
<a id="多选用法" class="anchor" href="#%E5%A4%9A%E9%80%89%E7%94%A8%E6%B3%95" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>多选用法</h3>

<p>`</p><blockquote>
  <p>html中：</p>
</blockquote>
<code>&lt; div bs-dropdown 
     bs-dropdown-multi 
     bs-dropdown-display="Multiselect" 
     bs-dropdown-title="请选择"
     bs-dropdown-item-disabled="{{[4]}}" 
     bs-dropdown-divider="{{[2]}}" 
     ng-model="<kbd>selectAction</kbd>" 
     ng-change="changeMenu()"&gt;&lt; /div&gt;
</code>

<blockquote>
  <p>controller中：</p>
</blockquote>

<p><code>$scope.<kbd>actions</kbd> = [</code>
<code> {'label':'菜单1'},</code>
<code> {'label':'菜单2'},</code>
<code> {'label':'菜单3'},</code>
<code> {'label':'菜单4'}</code>
<code> ...</code>
<code>$scope.selectAction = [$scope.actions[0],$scope.actions[3]</code>
<code>];</code>
<code>$scope.<kbd>selectMenuBase</kbd> = $scope.menusBase[2];</code><br>`</p>

<h3>
<a id="综合用法" class="anchor" href="#%E7%BB%BC%E5%90%88%E7%94%A8%E6%B3%95" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>综合用法</h3>

<p>`</p><blockquote>
  <p>html中:</p>
</blockquote>
<code>
    &lt; div bs-dropdown 
         bs-dropdown-display="MyDropDown" 
         bs-dropdown-items="<kbd>menus</kbd>" 
         ng-model="<kbd>selectMenu</kbd>" 
         ng-change="changeMenu()"&gt;&lt; /div&gt;
</code>

<blockquote>
  <p>controller中：</p>
</blockquote>

<p><code>$scope.<kbd>menus</kbd> = [</code><br>
<code> {'label':'菜单1','id':1},</code><br>
<code> {'label':'菜单2','id':2},</code><br>
<code> {'label':'菜单3','id':3,'child':[</code><br>
<code>   {'label':'子菜单3-1','id':31},</code><br>
<code>   {'label':'子菜单3-2','id':32}</code><br>
<code>  ]},</code><br>
<code> {'label':'菜单4','id':4},</code><br>
<code> {'label':'菜单5','id':5},</code><br>
<code> {'label':'菜单6','id':6,'child':[</code><br>
<code>   {'label':'子菜单6-1','id':61},</code><br>
<code>   {'label':'子菜单6-2','id':62,'child':[</code><br>
<code>     {'label':'子菜单6-2-1','id':621},</code><br>
<code>     {'label':'子菜单6-2-2','id':622},</code><br>
<code>     {'label':'子菜单6-2-3','id':623}</code><br>
<code>   ]},</code><br>
<code>   {'label':'子菜单链接6-3','id':63,'link':'<a href="http://www.baidu.com">http://www.baidu.com</a>'}</code><br>
<code>  ]},</code><br>
<code> {'label':'链接','id':7,'link':'<a href="http://www.baidu.com">http://www.baidu.com</a>'}</code><br>
<code> ];</code><br>
<code>$scope.<kbd>selectMenu</kbd> = $scope.menus[2];</code><br>
<code></code>`</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/wangmingdong/angular-dropdown">Angular-dropdown</a> is maintained by <a href="https://github.com/wangmingdong">wangmingdong</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
